{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <h1>Tous les spectacles, tous les artistes</h1>
            <div class="mt-5">Notre association, WildCircus Organisation, propose un système innovant et rapide de mise
                en relation entre
                les créateurs de spectacle plus communement appelé artiste pou troupe pou groupe ou plein d'autrs choses
                ( bref chacun son choix, on est ouvert, nous -_') et les organisateurs de Pectacles ( tourneurs,
                porducteurs, independant,..)
            </div>
            <div class="mt-5">
                Notre action est gratuite et nous vivons ( et oui, il faut vivre et pour vivre, il faut de la caillasse,
                des lingots,
                du fric) en revendant au plus offrants l'ensemble de vos coordonnées . Mais attention, nous sommes
                bienveillants! Par exemple,
                les dernières donné"es collectés on été revendues à des groupuscule minoraitre en guinée equatoriale et
                prochainement vous devriez
                recevoir des offres aléchantes ( on nous a promis un rendement à 30% net annuel!!!) pour des mines de
                sel de prapika prochainement créés
                dans la région de Motomo au sein meme du spectaculaire parc naturel de Piedra Nzas .
            </div>
            <div>
                En plus de notre système de mise en relation, vos données vous donnerons acces à des plus-value
                exceptionnelles et à un dépaysement au dela de vos pensées!!
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <h4><i>Artistes ou Producteurs, Rejoindez nous!!!!</i></h4>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between flex-column flex-sm-row bd-highlight mb-3">
            <img src="img/cirque1.jpeg" class="img-thumbnail mt-5 col-6 offset-3" alt="">
            <img src="img/cirque2.jpeg" class="img-thumbnail mt-5 col-6 offset-3" alt="">
            <img src="img/cirque3.jpeg" class="img-thumbnail mt-5 col-6 offset-3" alt="">
        </div>
        {#                <img src="img/cirque4.jpeg" class="p-2 bd-highlight" alt="...">#}
    </div>


{% endblock %}
