{% extends 'base.html.twig' %}

{% block title %}Edit Spectacles{% endblock %}

{% block body %}
    <h1>Edit Spectacles</h1>

    {{ include('spectacles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spectacles_index') }}">back to list</a>

    {{ include('spectacles/_delete_form.html.twig') }}
{% endblock %}
